run = "python3 -m uvicorn app.main:app --host 0.0.0.0 --port 8080"
modules = ["python-3.11"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 9000
externalPort = 9000

[agent]
expertMode = true

[nix]
packages = ["cacert", "cargo", "libffi", "libiconv", "libxcrypt", "lsof", "nodejs-12_x", "openssl", "pkg-config", "rustc"]
