fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
slowapi
python-multipart
bcrypt==4.0.1
fastapi
passlib[bcrypt]
pydantic[email]
python-jose[cryptography]
python-multipart
slowapi
sqlalchemy
uvicorn[standard]
